In [1]:
import pandas as pd

# Load the Excel file
excel_file = 'Adidas US Sales Datasets.xlsx'  # Replace with your Excel file path
df = pd.read_excel(excel_file)

csv_file = 'converted_file.csv'
df.to_csv(csv_file, index=False)

In [3]:
# Load the CSV file into a DataFrame
data = pd.read_csv(csv_file)
data

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29,83,2407.0,649.89,0.27,Outlet

In [4]:
total_sales_per_retailer = data.groupby('Retailer')['Total Sales'].sum().reset_index().sort_values(by='Total Sales', ascending=False)
print(total_sales_per_retailer)

        Retailer  Total Sales
5      West Gear  242964333.0
1    Foot Locker  220094720.0
3  Sports Direct  182470997.0
2         Kohl's  102114753.0
0         Amazon   77698912.0
4        Walmart   74558410.0

In [5]:
top_products = data.groupby('Product')['Total Sales'].sum().reset_index().sort_values(by='Total Sales', ascending=False).head(10)
print(top_products)

                     Product  Total Sales
2      Men's Street Footwear  208826244.0
3            Women's Apparel  179038860.0
1    Men's Athletic Footwear  153673680.0
5    Women's Street Footwear  128002813.0
0              Men's Apparel  123728632.0
4  Women's Athletic Footwear  106631896.0

In [6]:
sales_by_region = data.groupby('Region')['Total Sales'].sum().reset_index().sort_values(by='Total Sales', ascending=False)
print(sales_by_region)

      Region  Total Sales
4       West  269943182.0
1  Northeast  186324067.0
3  Southeast  163171236.0
2      South  144663181.0
0    Midwest  135800459.0

In [7]:
average_price_per_product = data.groupby('Product')['Price per Unit'].mean().reset_index().sort_values(by='Price per Unit', ascending=False)
print(average_price_per_product)

                     Product  Price per Unit
3            Women's Apparel       51.600746
0              Men's Apparel       50.321918
2      Men's Street Footwear       44.236646
1    Men's Athletic Footwear       43.779503
4  Women's Athletic Footwear       41.112702
5    Women's Street Footwear       40.252488

In [8]:
units_sold_by_method = data.groupby('Sales Method')['Units Sold'].sum().reset_index().sort_values(by='Units Sold', ascending=False)
print(units_sold_by_method)

  Sales Method  Units Sold
1       Online      939093
2       Outlet      849778
0     In-store      689990

In [9]:
top_states_profit = data.groupby('State')['Operating Profit'].sum().reset_index().sort_values(by='Operating Profit', ascending=False).head(5)
print(top_states_profit)

             State  Operating Profit
31        New York       23329824.07
8          Florida       20926206.92
4       California       19301170.40
42           Texas       18688204.35
39  South Carolina       11324236.39

In [10]:
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])
monthly_sales = data.groupby(data['Invoice Date'].dt.month)['Total Sales'].sum().reset_index().sort_values(by='Invoice Date')
print(monthly_sales)

    Invoice Date  Total Sales
0              1   71479142.0
1              2   61100153.0
2              3   56809109.0
3              4   72339970.0
4              5   80507695.0
5              6   74747372.0
6              7   95480694.0
7              8   92166201.0
8              9   77661459.0
9             10   63911033.0
10            11   67857340.0
11            12   85841957.0

In [11]:
average_operating_margin = data.groupby('Retailer')['Operating Margin'].mean().reset_index().sort_values(by='Operating Margin', ascending=False)
print(average_operating_margin)

        Retailer  Operating Margin
3  Sports Direct          0.444892
2         Kohl's          0.419291
1    Foot Locker          0.417933
0         Amazon          0.417871
5      West Gear          0.417856
4        Walmart          0.406534

In [12]:
city_product_sales = data.groupby(['City', 'Product'])['Units Sold'].sum().reset_index().sort_values(by='Units Sold', ascending=False)
print(city_product_sales)

            City                    Product  Units Sold
62    Charleston      Men's Street Footwear       23819
212     New York      Men's Street Footwear       22707
213     New York            Women's Apparel       19472
211     New York    Men's Athletic Footwear       18581
254     Portland      Men's Street Footwear       18185
..           ...                        ...         ...
24     Baltimore              Men's Apparel        1951
198  Minneapolis              Men's Apparel        1912
232        Omaha  Women's Athletic Footwear        1761
28     Baltimore  Women's Athletic Footwear        1725
228        Omaha              Men's Apparel        1455

[312 rows x 3 columns]

In [13]:
sales_performance = data.groupby(['Retailer', 'Region'])['Total Sales'].sum().reset_index().sort_values(by='Total Sales', ascending=False)
print(sales_performance)

         Retailer     Region  Total Sales
27      West Gear       West  137551280.0
6     Foot Locker  Northeast   65326474.0
16  Sports Direct      South   65258121.0
13         Kohl's       West   62302115.0
8     Foot Locker  Southeast   59669118.0
17  Sports Direct  Southeast   54178543.0
5     Foot Locker    Midwest   47987394.0
9     Foot Locker       West   37804709.0
1          Amazon  Northeast   36262590.0
25      West Gear      South   33087031.0
20        Walmart      South   33049858.0
24      West Gear  Northeast   32293733.0
14  Sports Direct    Midwest   26207191.0
15  Sports Direct  Northeast   24698097.0
23      West Gear    Midwest   22540586.0
10         Kohl's    Midwest   22229415.0
21        Walmart  Southeast   21005539.0
26      West Gear  Southeast   17491703.0
0          Amazon    Midwest   16835873.0
11         Kohl's  Northeast   14031168.0
19        Walmart  Northeast   13712005.0
4          Amazon       West   13365025.0
18  Sports Direct       West   12129045.0
3          Amazon  Southeast   10826333.0
7     Foot Locker      South    9307025.0
22        Walmart       West    6791008.0
12         Kohl's      South    3552055.0
2          Amazon      South     409091.0